# Safe public defaults
HALLOWEEN_AI_LIVE=false
DISPENSER_URL=http://192.168.1.55:5000/dispense
DISPENSER_STATUS_URL=http://192.168.1.55:5000/status
MIRROR_ENABLED=true
MIRROR_BASE_URL=http://192.168.1.128:5050
